@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: theme('colors.floral-white');
    color: theme('colors.pine-teal');
    font-family: theme('fontFamily.geometric');
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: theme('fontFamily.tt-commons');
  }
}